/* Write your CSS here */

.home-container {
  background-color: #ffffff;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  height: 700px;
  width: 1000px;
}
